@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; overflow: auto; font-size: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img{
	max-width: 100%;
	margin: 15px 0;
}
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
}

#faq_page .scroller{
	height: 100%;
	overflow: auto;
}
#faq_page .content p {
     font-size: initial; 
     line-height: initial; 
     font-weight: initial; 
     padding: initial; 
     text-align: justify; 
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background: #f1103a;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.js .menu-panel {
	position: absolute;
	left: -240px;
	overflow: auto;
}

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
} 

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	background: #f1103a;
	border-bottom: 1px solid #dd1338;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	background: #dd1338;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 60px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	background: #f1103a;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #000;
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.menu-button {
	z-index: 1000;
	left: 20px;
	top: 20px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.content h1 {
	font-weight: 300;
	/*font-size: 4em;*/
	font-size: 2.5em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% 40px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 2px #fff;
}

.no-js .content h1 {
	padding: 40px 1% 20px;
}

.content p, .content ul {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
	text-align: justify;
}

.content ul li{
	list-style: inside circle;
}
.content ol li, .content ul li,dt{
	margin: 10px 0;
}

/*------------ custom -------------------*/
dd{
	text-align: justify;
}
dt{
	font-weight: bold;
}
ol{
	padding: 5px 8%;
	list-style-position: inside;
}
h3.subhead, h2 {
    text-align: center;
    margin: 10px 0;
    text-decoration: underline;
    font-weight: bold;
}
.content .aligncenter{
	text-align: center;
}
.content ul.algoritham li{
	list-style: outside;
    margin: 0px 0;
    line-height: 1.2;
}

/*-- work --*/
.panel-group .panel, .panel-group{
    margin-bottom: 8px;
}
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:0;
}
.panel-title > a{
    font-size: 1em;
    color:#f78800;
    text-transform: capitalize;
	text-decoration: none;
	padding: 10px 30px;
	display:block;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #e9e9e9;
	color:#212121;
    background-color: #e9e9e9;
}
.panel-body {
    padding: 1.5em;
    font-size: 14px;
    line-height: 1.8em;
    color: #999;
    background: #efefef;
} 
.panel-body h5 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: .5em;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
/*-- //work --*/


/*-------------- olap/optp --------------------------*/
#tablepress-2 th{
	/*text-align: left;*/
	text-align: center;
	padding: 15px 0;
}
#tablepress-2 td{
	padding: 10px 5px;
	vertical-align: top;
}
tr.even {
    background: #E3E3B2;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}

/*----------- custom code -----------*/

.kwd{color:#008}.com{color:#800}.typ{color:#7f0055}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#7f0055}.atv{color:#080}.dec,.var{color:#7f0055}.fun{color:#f00}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{border:1px solid #d6d6d6;background-color:#eee;width:98%;border-radius:0;padding:5px;margin:0;margin-bottom:10px;font-size:13px;overflow:auto}tr td pre.prettyprint{white-space:pre-wrap;width:auto}pre.result{border:1px solid #d6d6d6;background-color:#f1f1f1;width:98%;padding:5px;margin:0;margin-bottom:0;font-size:12px;overflow:auto}pre.box{border:1px solid #d6d6d6;background-color:#f1f1f1;width:98%;padding:5px;margin:0;margin-bottom:10px;font-size:12px;overflow:auto}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

.str{color:#060;}