h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 4em;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item{
	position: relative;
}
.w3_banner_info_grid h1{
    font-size: 3em;
    letter-spacing: 6px;
    color: #ff0;
    line-height: 1.9em;
    text-transform: uppercase;
    font-family: 'Tulpen One', cursive;
    font-weight: 600;
    margin-top: 10px;
}
.w3_banner_info {
    position: absolute;
    top: 20%;
    width: 80%;
    left: 10%;
     /*margin: 0 auto; */
    text-align: center;
}


.ui-loader.ui-corner-all.ui-body-a.ui-loader-default{
	display: none;
}

/*.ui-mobile-viewport h1 {
  display: none;
}
*/
.cd-bouncy-nav > li {
  margin: 12px 0;
}
/*-- Navigation --*/

/*section.cd-section {
	position: fixed;
	z-index: 99999;
	margin-top: 50px;
	margin-left: 30px;
}*/

section.cd-section {
  margin-left: 45px;
  margin-top: 55px;
  position: fixed;
  z-index: 99999;
}

.cd-bouncy-nav-trigger {
	/*background: #FFF;*/
	color: #000;
	/*padding: 10px 30px;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10em;
	display: block;
	width: 165%;
	/*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 10px #171718;*/
}

.cd-bouncy-nav-trigger img{
	width: 100%;
}

.no-touch .cd-bouncy-nav-trigger:hover {
	background: #009688;
	color: #FFF;
}

.cd-bouncy-nav-modal {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(36, 35, 37, 0.9);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
	-moz-transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
	/*--w3layouts--*/
	/*--agileits--*/
	transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
}

.cd-bouncy-nav-modal.fade-in {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.1s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.1s 0s, visibility 0s 0s;
	transition: opacity 0.1s 0s, visibility 0s 0s;
}

.cd-bouncy-nav-modal .cd-close {
	display: block;
	position: fixed;
	top: 44px;
	right: 5%;
	width: 65px;
	height: 65px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: url("../images/cd-icon-close.svg") no-repeat center center / 90px;
	-webkit-transform: scale(0) translateZ(0);
	-moz-transform: scale(0) translateZ(0);
	-ms-transform: scale(0) translateZ(0);
	-o-transform: scale(0) translateZ(0);
	transform: scale(0) translateZ(0);
	-webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s;
	transition: transform 0.3s 0s, visibility 0s 0.3s;
}

.cd-bouncy-nav-modal.fade-in .cd-close {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	/*--w3layouts--*/
	/*--agileits--*/
	-webkit-transition: -webkit-transform 0.3s 0s, visibility 0.3s 0s;
	-moz-transition: -moz-transform 0.3s 0s, visibility 0.3s 0s;
	transition: transform 0.3s 0s, visibility 0.3s 0s;
}

@media only screen and (min-width: 1170px) {
	.cd-bouncy-nav-modal .cd-close {
		top: 60px;
	}
}

.cd-bouncy-nav {
	position: absolute;
	left: 50%;
	top: 50vh;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
	max-width: 300px;
}

.cd-bouncy-nav li {
	width: 50%;
	float: left;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	/*--w3layouts--*/
	/*--agileits--*/
	-webkit-transform: translateY(100vh);
	-moz-transform: translateY(100vh);
	-ms-transform: translateY(100vh);
	-o-transform: translateY(100vh);
	transform: translateY(100vh);
	text-align: center;
}

.is-visible .cd-bouncy-nav li {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.fade-in .cd-bouncy-nav li {
	-webkit-animation: cd-move-in 0.4s;
	-moz-animation: cd-move-in 0.4s;
	animation: cd-move-in 0.4s;
}

.fade-out .cd-bouncy-nav li {
	-webkit-animation: cd-move-out 0.4s;
	-moz-animation: cd-move-out 0.4s;
	animation: cd-move-out 0.4s;
}

.fade-in .cd-bouncy-nav li, .fade-out .cd-bouncy-nav li {
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	    list-style: none;
}

.fade-in .cd-bouncy-nav li:nth-of-type(2), .fade-out .cd-bouncy-nav li:nth-of-type(2) {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
	/*--w3layouts--*/
	/*--agileits--*/
}

.fade-in .cd-bouncy-nav li:nth-of-type(3), .fade-out .cd-bouncy-nav li:nth-of-type(3) {
	-webkit-animation-delay: 0.15s;
	-moz-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.fade-in .cd-bouncy-nav li:nth-of-type(4), .fade-out .cd-bouncy-nav li:nth-of-type(4) {
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.fade-in .cd-bouncy-nav li:nth-of-type(5), .fade-out .cd-bouncy-nav li:nth-of-type(5) {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.fade-in .cd-bouncy-nav li:nth-of-type(6), .fade-out .cd-bouncy-nav li:nth-of-type(6) {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.cd-bouncy-nav a {
	display: inline-block;
	min-width: 80px;
	position: relative;
	padding: 201px 20px 0;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
}

.cd-bouncy-nav a::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	right: auto;
	/*--w3layouts--*/
	/*--agileits--*/
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 185px;
	width: 185px;
	border-radius: 50%;
	background-color: #555;
	background-image: url("../images/cd-category-icons.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.cd-bouncy-nav a#mongo::before{
	background: #555 url("../images/mongodb.png") no-repeat center center / 145px;
}
.cd-bouncy-nav a#express::before{
	background: #555 url("../images/expressjs.png") no-repeat center center / 145px;
}
.cd-bouncy-nav a#angular::before{
	background: #555 url("../images/angular.png") no-repeat center center / 145px;
}
.cd-bouncy-nav a#node::before{
	background: #555 url("../images/nodejs.png") no-repeat center center / 145px;
}
.cd-bouncy-nav a#brief::before{
	background: #555 url("../images/means2.png") no-repeat center center / 111px;
}
.cd-bouncy-nav a#faq::before{
	background: #555 url("../images/note2.png") no-repeat center center / 138px;
}

.no-touch .cd-bouncy-nav a:hover::before {
	background-color: #333;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.cd-bouncy-nav li:nth-of-type(2) a::before {
	background-position: -80px 0;
}

.cd-bouncy-nav li:nth-of-type(3) a::before {
	background-position: -160px 0;
}

.cd-bouncy-nav li:nth-of-type(4) a::before {
	background-position: -240px 0;
}

.cd-bouncy-nav li:nth-of-type(5) a::before {
	background-position: -320px 0;
}

.cd-bouncy-nav li:nth-of-type(6) a::before {
	background-position: -400px 0;
}

@media only screen and (min-width: 768px) {
	.cd-bouncy-nav {
		/*max-width: 450px;*/
		max-width: 700px;
	}
	.cd-bouncy-nav li {
		/*width: 33.33%;*/
		width: 49.33%;
		float: left;
	}
	.fade-in .cd-bouncy-nav li:nth-of-type(1), .fade-out .cd-bouncy-nav li:nth-of-type(1) {
		-webkit-animation-delay: 0.1s;
		-moz-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}
	.fade-in .cd-bouncy-nav li:nth-of-type(2), .fade-out .cd-bouncy-nav li:nth-of-type(2) {
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		animation-delay: 0s;
	}
	.fade-in .cd-bouncy-nav li:nth-of-type(4), .fade-out .cd-bouncy-nav li:nth-of-type(4) {
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}
	.fade-in .cd-bouncy-nav li:nth-of-type(5), .fade-out .cd-bouncy-nav li:nth-of-type(5) {
		-webkit-animation-delay: 0.25s;
		-moz-animation-delay: 0.25s;
		animation-delay: 0.25s;
	}
	.cd-bouncy-nav a {
		margin-bottom: 120px;
	}
}

@-webkit-keyframes cd-move-in {
	0% {
		-webkit-transform: translateY(100vh);
	}
	65% {
		-webkit-transform: translateY(-1.5vh);
	}
	100% {
		-webkit-transform: translateY(0vh);
	}
}

@-moz-keyframes cd-move-in {
	0% {
		-moz-transform: translateY(100vh);
	}
	65% {
		-moz-transform: translateY(-1.5vh);
	}
	100% {
		-moz-transform: translateY(0vh);
	}
}

@keyframes cd-move-in {
	0% {
		-webkit-transform: translateY(100vh);
		-moz-transform: translateY(100vh);
		/*--w3layouts--*/
		/*--agileits--*/
		-ms-transform: translateY(100vh);
		-o-transform: translateY(100vh);
		transform: translateY(100vh);
	}
	65% {
		-webkit-transform: translateY(-1.5vh);
		-moz-transform: translateY(-1.5vh);
		-ms-transform: translateY(-1.5vh);
		-o-transform: translateY(-1.5vh);
		transform: translateY(-1.5vh);
	}
	100% {
		-webkit-transform: translateY(0vh);
		-moz-transform: translateY(0vh);
		-ms-transform: translateY(0vh);
		-o-transform: translateY(0vh);
		transform: translateY(0vh);
	}
}

@-webkit-keyframes cd-move-out {
	0% {
		-webkit-transform: translateY(0vh);
	}
	100% {
		-webkit-transform: translateY(-100vh);
	}
}

@-moz-keyframes cd-move-out {
	0% {
		-moz-transform: translateY(0vh);
	}
	100% {
		-moz-transform: translateY(-100vh);
	}
}

@keyframes cd-move-out {
	0% {
		-webkit-transform: translateY(0vh);
		-moz-transform: translateY(0vh);
		-ms-transform: translateY(0vh);
		-o-transform: translateY(0vh);
		transform: translateY(0vh);
	}
	100% {
		-webkit-transform: translateY(-100vh);
		-moz-transform: translateY(-100vh);
		-ms-transform: translateY(-100vh);
		-o-transform: translateY(-100vh);
		transform: translateY(-100vh);
	}
}

/*-- //Navigation --*/