
/* Theme: Ayu Mirage */
.codearea {
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 16px;
    -fx-line-spacing: 1.5;
    -fx-padding: 10px;
    -fx-background-color: #202734;
    -fx-text-fill: #cbccc6;
    -fx-wrap-text: true;
    -fx-border-radius: 8px;
    -fx-border-color: #191e2a;
}

.codearea:focused {
    -fx-border-color: #ffcc66;
}

.keyword {
    -fx-fill: #ffd580;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #b8cc52;
}

.comment {
    -fx-fill: #5c6773;
    -fx-font-style: italic;
}

.number {
    -fx-fill: #ffae57;
}

.function {
    -fx-fill: #ffd580;
    -fx-font-weight: bold;
}

.variable {
    -fx-fill: #36a3d9;
}
