.codearea {
    -fx-font-family: 'Hack', monospace;
    -fx-font-size: 16px;
    -fx-background-color: #282c34;
    -fx-text-fill: #abb2bf;
}
.keyword { -fx-fill: #c678dd; -fx-font-weight: bold; }
.string { -fx-fill: #98c379; }
.comment { -fx-fill: #5c6370; -fx-font-style: italic; }